<div class="blog">
  <div class="blog-top">
    <div>
      <h1 class="mar-top-mini-0" style="text-align: center;"> {{'jj.articles' | translate}} </h1>
    </div>

    <div class="filter-section">
      <div *ngIf="!searchMode" class="jj-select">
        <p-dropdown (onChange)="getItems()" [options]="sections"
          placeholder="{{'jj.section' | translate}}" [(ngModel)]="sectionType" [showClear]="true">
          <ng-template pTemplate="item" let-item>
            {{item.name | translate}}
          </ng-template>
          <ng-template let-selectedItem pTemplate="selectedItem">
            {{selectedItem.name | translate}}
          </ng-template>
        </p-dropdown>
      </div>
      <div class="search-bar" [ngClass]="{'w-100': searchMode}">
        <div class="jj-form__form-control">
          <label *ngIf="!searchMode" (click)="onSetSearchMode()" style="cursor: pointer;" class="jj-form__label" for="search">
            <svg>
              <use xlink:href="assets/icons/sprite.svg#icon-search"></use>
            </svg>
          </label>
          <input [ngClass]="{'input-invisible': !searchMode}" (keydown.Enter)="search(searchInput.value)" placeholder="{{'jj.searchEnter' | translate}}" type="text" id="search" style="background-color: transparent;"
            #searchInput class="jj-form__input">
            <label *ngIf="searchMode" (click)="onSetSearchMode()" style="cursor: pointer;" class="jj-form__label" for="search">
              <svg>
                <use xlink:href="assets/icons/sprite.svg#icon-cross"></use>
              </svg>
            </label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dataLength > 0">
    <div class="all-ariticles" *ngFor="let article of articles | async;">
      <div class="article-preview">
        <div class="img-box">
          <img *ngIf="article?.titleImage"
            src="{{'https://drive.google.com/uc?export=view&id=' + getImageId(article.titleImage) }}" alt="image">
        </div>
        <div class="content-box">
          <div class="text-box">
            <h2 [routerLink]="['detail', article.id]" style="cursor: pointer; font-size: 22px;">{{article.title}}</h2>
            <!-- <div class="date-box">
                  <p class="date-box-month">{{article.dateCreated | date: 'MMMM'}}</p>
                  <p class="date-box-day">{{article.dateCreated | date: 'd'}}</p>
                </div> -->

            <p class="preview-text" [innerHtml]="truncate(article.perex, 200, '...')"></p>
          </div>
          <button class="read-more-button" [routerLink]="['detail', article.id]">{{'jj.readMore' | translate}}</button>
        </div>

      </div>
    </div>
  </div>
  <div class="no-articles" *ngIf="dataLength <= 0 && !searchInput.value">
    {{'jj.noArticles' | translate}}
  </div>

  <div class="no-articles" *ngIf="dataLength <= 0 && searchInput.value">
    {{'jj.articleNotFound' | translate}}
  </div>

  <mat-paginator class="blog-paginator" #paginator [length]="dataSource.data.length" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>
</div>
