<div class="blog">
  <h1> Články </h1>
  <div class="blog-top">
    <div class="jj-select" >
      <p-dropdown (onChange)="getItems(searchInput.value)" [options]="sections" placeholder="Sekcia" [(ngModel)]="sectionType" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    <div class="search-bar">
      <div class="jj-form__form-control">
        <label class="jj-form__label" for="search">
          <svg>
            <use xlink:href="assets/icons/sprite.svg#icon-search"></use>
          </svg>
        </label>
        <input (input)="search(searchInput.value)" type="text" id="search" style="background-color: transparent;"
          #searchInput class="jj-form__input">
      </div>
    </div>

  </div>

  <div *ngIf="dataLength > 0">
    <div class="all-ariticles" *ngFor="let article of articles | async;">
      <div class="article-preview">
        <div class="img-box">
          <img *ngIf="article?.titleImage"
            src="{{'https://drive.google.com/uc?export=view&id=' + getImageId(article.titleImage) }}" alt="image">
        </div>
        <div class="content-box">
          <div class="text-box">
            <h2 [routerLink]="['detail', article.id]" style="cursor: pointer; font-size: 22px;">{{article.title}}</h2>
            <!-- <div class="date-box">
                  <p class="date-box-month">{{article.dateCreated | date: 'MMMM'}}</p>
                  <p class="date-box-day">{{article.dateCreated | date: 'd'}}</p>
                </div> -->

            <p class="preview-text" [innerHtml]="truncate(article.perex, 200, '...')"></p>
          </div>
          <button class="read-more-button" [routerLink]="['detail', article.id]">Čítaj viac</button>
        </div>

      </div>
    </div>
  </div>
  <div class="no-articles" *ngIf="dataLength <= 0 && !searchInput.value">
    V tejto sekcií sa nenachádzajú žiadne články.
  </div>

  <div class="no-articles" *ngIf="dataLength <= 0 && searchInput.value">
    Žiadne články nezodpovedajú hľadanému výrazu.
  </div>

  <mat-paginator class="blog-paginator" #paginator [length]="dataSource.data.length" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>
</div>
