@import '../shared/styles/variables.scss';

.blog {
  .blog-top {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .filter-section {
      width: 40%;
      display: flex;
      align-items: center;
    }

    .jj-select {
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: flex-end;
      height: 50px !important;
    }


    .w-100 {
      width: 100% !important;
    }

    .search-bar {
      height: 50px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .jj-form__form-control {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;

        input {
          width: 100%;
        }

        .input-invisible {
          width: 0 !important;
          visibility: hidden;
          opacity: 0;
        }

        label svg {
          width: 18px;
          height: 18px;
          margin-top: 10px;
          margin-right: 10px;
          margin-left: 20px;
        }
      }
    }
  }

  .all-aricles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .article-preview {
    margin-top: 80px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    position: relative;

    .img-box {
      width: 40%;
      max-width: 450px;
      margin-right: 40px;

      img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }


    .content-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      height: 100%;

      .text-box {
        display: flex;
        flex-direction: column;

        // .date-box {
        //     position: absolute;
        //     top: 50px;
        //     right: 3%;
        //     border-radius: 10px;
        //     width: 100px;

        //     &-month {
        //         font-size: 15px;
        //         text-align: center;
        //         color: #116f60;
        //         margin: 0;
        //         line-height: 0px;
        //     }

        //     &-day {
        //         font-size: 30px;
        //         font-weight: 600;
        //         color: $clr-green-primary;
        //         padding: 5px 15px;
        //         text-align: center;
        //     }


        // }


        .preview-text {
          margin-top: 25px;
          margin-bottom: 0;
        }
      }
    }

  }

  .no-articles {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .blog-paginator {
    background-color: transparent;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .blog {
    h1 {
      text-align: center;
    }

    .filter-section {
      width: 80% !important;
      align-self: center;
    }

    .blog-top {
      margin-top: 20px;
      flex-direction: column;

      .search-bar {
        align-self: center;
        margin-top: 20px;
      }

      .jj-select {
        align-self: center;
        margin-top: 20px;
      }
    }

    .article-preview {
      align-self: center;
      flex-direction: column;
      height: auto;

      .img-box {
        max-width: none;
        margin-bottom: 40px;
        width: 100%;

        img {
          max-height: 400px;
        }
      }

      .content-box {
        width: 90%;

        .text-box .date-box {
          top: auto;
          bottom: 10px;
        }
      }
    }
  }
}
