<h1 style="padding: 0; margin-bottom: 20px;">{{'jj.hello' | translate }}</h1>
<div class="homepage-hello">
  <div class="col-lg-6 about-me-box">
    <div class="about-me-text">
      {{'jj.aboutMeTextShort' | translate }}
    </div>
    <button [routerLink]="['about-me']" class="read-more-button">
      {{'jj.readMore' | translate }}
    </button>
  </div>
  <div class="col-lg-6 about-me-img-box">
    <img class="about-me-img-box__img" src="assets/images/about-me-photo.png" alt="about-me">
  </div>
</div>

<div class="homepage-map" id="map">
  <h1>{{'jj.places' | translate }}</h1>
  <div class="map-box">
    <div *ngFor="let pin of pins">
      <svg [tooltip]="pin.country" (click)="onPinClick(pin)" class="icon-location" [style.top]="pin.y"
        [style.left]="pin.x">
        <use xlink:href="assets/icons/sprite.svg#icon-location"></use>
      </svg>
    </div>
    <img #image src="../../assets/images/map.png" alt="map" class="map-img">
  </div>

</div>

<div class="homepage-articles">
  <h1>{{'jj.newestArticles' | translate }}</h1>
  <jj-carousel [articles]="articles"></jj-carousel>
</div>

<div class="instagram">
  <h1>{{'jj.myInstagram' | translate }}</h1>
  <iframe src="//lightwidget.com/widgets/e4755fca262351aeab8f8dce64d1640e.html" scrolling="no" allowtransparency="true"
    class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</div>
