<h1 style="padding: 0; margin-bottom: 20px;">{{'jj.hello' | translate }}</h1>
<div class="homepage-hello">
  <div class="col-lg-6 about-me-box">
    <div class="about-me-text">
      {{'jj.aboutMeTextShort' | translate }}
    </div>
    <button [routerLink]="['about-me']" class="read-more-button">
      {{'jj.readMore' | translate }}
    </button>
  </div>
  <div class="col-lg-6 about-me-img-box">
    <img class="about-me-img-box__img" src="assets/images/about-me-photo.png" alt="about-me">
  </div>
</div>

<div class="homepage-map">
  <h1>{{'jj.places' | translate }}</h1>
  <div class="map-box">
    <div *ngFor="let pin of pins">
      <svg class="icon-location" [style.top]="pin.y" [style.left]="pin.x">
        <use xlink:href="assets/icons/sprite.svg#icon-location"></use>
      </svg>
    </div>
    <img src="../../assets/images/map.png" alt="map" class="map-img">
  </div>

</div>

<div class="homepage-articles">
  <h1>{{'jj.newestArticles' | translate }}</h1>
  <div *ngIf="articles && articles.length > 0" class="articles">
    <carousel [cellWidth]="'100%'" [height]="screenWidth > 1200 ? 250 : 650" [cellsToShow]="articlesPerPage" [dots]="true"
      [arrowsOutside]="screenWidth > 800" [arrowsTheme]=" screenWidth > 800 ? 'dark' : 'light'" [objectFit]="'contain'">
      <div *ngFor="let article of articles" class="carousel-cell custom-carousel-cell"
        [routerLink]="['../blog/detail', article.id]">
        <img class="article-preview-image"
          src="{{'https://drive.google.com/uc?export=view&id=' + getImageId(article.titleImage) }}" alt="img">
        <div class="article-box">
          <div class="article-title">
            <div class="article-title__text">{{article.title}}</div>
            <hr>
          </div>
          <div class="article-text">
            <p *ngIf="screenWidth >= 1200" [innerHtml]="truncate(article.perex, 150, '...')"></p>
            <p *ngIf="screenWidth < 1200" [innerHtml]="truncate(article.perex, 270, '...')"></p>
          </div>
        </div>
      </div>
    </carousel>
  </div>
  <div class="no-articles" style="display: flex; justify-content: center;" *ngIf="articles?.length == 0">
      {{'jj.noArticles' | translate }}
  </div>
</div>

<div class="instagram">
  <h1>{{'jj.myInstagram' | translate }}</h1>
  <div class="embedsocial-hashtag" data-ref="343c5fe4ce457ea71760f56e0384d9d6a7cb40ce"> <a
      class="feed-powered-by-es feed-powered-by-es-feed-new" href="https://embedsocial.com/social-media-aggregator/"
      target="_blank" title="Widget by EmbedSocial"> Widget by EmbedSocial<span>→</span> </a> </div>
</div>

