<nav class="nav-bar">
  <a class="nav-bar__brand">JJ ON THE WAY</a>
  <div class="nav-bar__items">
    <ul class="nav-bar__items--list">
      <li [routerLink]="['']" class="nav-bar__items--list--item">
        <a>{{ 'jj.home' | translate }}</a>
      </li>
      <li [routerLink]="['blog']" class="nav-bar__items--list--item">
        <a>{{ 'jj.blog' | translate }}</a>
      </li>
      <li [routerLink]="['about-me']" class="nav-bar__items--list--item">
        <a>{{ 'jj.aboutMe' | translate }}</a>
      </li>
      <li [routerLink]="['./contact']" class="nav-bar__items--list--item">
        <a>{{ 'jj.contact' | translate }}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="screenWidth > 1200" class="language-selector">
    <p-dropdown (onChange)="onLangChange(lang.value.value)" #lang [options]="langOptions" optionLabel="name"
      [showClear]="true"></p-dropdown>
  </div>

  <div class="nav-bar__hamburger" (click)="mobileMenuVisible = !mobileMenuVisible">
    <svg>
      <use xlink:href="assets/icons/sprite.svg#icon-menu"></use>
    </svg>
  </div>
</nav>

<div class="mobile-menu" [ngClass]="{'mobile-menu-open': mobileMenuVisible}">
  <div class="mobile-menu__items">
    <ul class="mobile-menu__items--list">
      <li (click)="mobileMenuVisible = !mobileMenuVisible" [routerLink]="['']" class="mobile-menu__items--list--item">
        <a>{{ 'jj.home' | translate }}</a>
      </li>
      <li (click)="mobileMenuVisible = !mobileMenuVisible" [routerLink]="['blog']"
        class="mobile-menu__items--list--item">
        <a>{{ 'jj.blog' | translate }}</a>
      </li>
      <li (click)="mobileMenuVisible = !mobileMenuVisible" [routerLink]="['about-me']"
        class="mobile-menu__items--list--item">
        <a>{{ 'jj.aboutMe' | translate }}</a>
      </li>
      <li (click)="mobileMenuVisible = !mobileMenuVisible" [routerLink]="['./contact']"
        class="mobile-menu__items--list--item">
        <a>{{ 'jj.contact' | translate }}</a>
      </li>
      <li style="width: 100%;">
        <div class="language-selector-mobile">
          <p-dropdown (onChange)="onLangChange(lang.value.value)" #lang [options]="langOptions" optionLabel="name"
            [showClear]="true">
            <ng-template let-country pTemplate="item">
              <div style="display: flex; justify-content: space-between;">
                <label style="margin-top: 10px; margin-right: 10px;">{{country.name}}</label>
                <img style="width: 40px; height: 40px;" [src]="country.imgSrc" />
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </li>
    </ul>
  </div>
</div>
