<button [routerLink]="['../']" class="jj-back-button" style="position: absolute;">{{'jj.backToMainPage' | translate }}</button>
<div class="about-me">
    <div class="col-lg-6 about-me-box">
        <h1>{{'jj.hello' | translate}}</h1>
        <div class="about-me-text">
            {{ 'jj.aboutMeTextLong1' | translate }}
            <br>
            <br>
            {{ 'jj.aboutMeTextLong2' | translate }}
            <br>
            <br>
            {{ 'jj.aboutMeTextLong3' | translate }}
        </div>

    </div>
    <div class="col-lg-6 about-me-img-box">
        <img class="about-me-img-box__img" src="assets/images/about-me-photo.png" alt="about-me">
    </div>
</div>
