<button [routerLink]="['../']" class="jj-back-button" style="position: absolute;">Späť na hlavnú stránku</button>
<div class="about-me">
    <div class="col-lg-6 about-me-box">
        <h1>Ahojte!</h1>
        <div class="about-me-text">
            Vitajte na mojom cestovateľskom blogu. Volám sa Janka a môj život ma neustále ťahá rôznymi smermi. Svoju
            vášeň v cestovaní som objavila už vo svojich tínedžerských rokoch. Od vtedy sa táto vášen neustále prehlbuje
            a ja som si istá, že môj život je jednoducho spätý so spoznávaním našej prekrásnej planéty.
            <br>
            <br>
            Pochádzam z hlavného mesta Slovenska, Bratislavy. Moje túlavé nôžky ma zaviedli už na mnohé miesta v Európe,
            Severnej Amerike, či Ázii. Vyskúšala som si život v chladnom Nórsku, ale aj v rôznorodej Amerike. Moje
            najbližšie cestovateľské plány smerujú do Juhovýchodnej Ázie a Južnej Ameriky za lokálnym dobrodružstvom.
            <br>
            <br>
            Rodina a priateľia ma považujú za spoľahlivú cestovateľskú plánovačku. Vedia, že ak idem s nimi na výlet ja,
            nepotrebujú vybavovať a riešiť takmer nič a môžu sa na mňa jednoducho spoľahnúť. Mne to robí absolútnu
            radosť, ktorú je možné pozorovať už pri prvotnej iniciatíve dovolenkovania v podobe jasných iskričiek v
            očiach. Túto vášeň som sa preto rozhodla zdieľať do sveta aj s Vami.
        </div>

    </div>
    <div class="col-lg-6 about-me-img-box">
        <img class="about-me-img-box__img" src="assets/images/about-me-photo.png" alt="about-me">
    </div>
</div>
