@import 'variables';

.jj-select {
  height: 60px;

  .p-dropdown {
    width: 100%;
    border: none;
    border-bottom: 2px solid $clr-green-primary;
    border-radius: 0;
    background-color: transparent;
    height: 50px;

    .p-dropdown-label {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .p-dropdown-item {
      font-family: $font-normal;
      font-size: 14px;
      padding: 1.25rem 1rem;
    }

    .p-dropdown-trigger {
      height: 105%;
    }

    .p-dropdown-clear-icon {
      display: none;
    }

    .p-dropdown-item.p-highlight {
      color: $clr-green-primary;
      background: transparent;

    }
  }

  .p-dropdown:not(.p-disabled).p-focus {
    border-color: $clr-green-primary;
    box-shadow: none;
  }

  .p-dropdown:not(.p-disabled):hover {
    border-color: $clr-green-primary;
  }
}


.language-selector {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;

  .p-dropdown {
    border: solid;
    z-index: 2;
    width: 55px;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: transparent;

    .p-dropdown-label {
      padding: 10px 0;
      font-size: 12px;
    }

    .p-dropdown-clear-icon {
      display: none;
    }

    .p-dropdown-item.p-highlight {
      color: $clr-green-primary;
      background: transparent;

    }
  }

  .p-dropdown:not(.p-disabled).p-focus {
    border-color: $clr-green-primary;
    box-shadow: none;
  }

  .p-dropdown:not(.p-disabled):hover {
    border-color: $clr-green-primary;
  }
}

.language-selector-mobile {
  border-top: 2px solid #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;

  .p-dropdown {
    border: solid;
    z-index: 2;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 0;
    z-index: 15;
    background-color: transparent;

    .p-dropdown-label {
      padding: 15px 0;
      font-size: 16px;
      color: #fff;
    }

    .p-dropdown-trigger-icon {
      color: #fff;
    }

    .p-dropdown-clear-icon {
      display: none;
    }

    .p-dropdown-item {
      font-size: 14px;
      padding: 1.5rem 2rem;
    }

    .p-dropdown-item.p-highlight {
      color: $clr-green-primary;
      background: transparent;

    }
  }

  .p-dropdown:not(.p-disabled).p-focus {
    border-color: $clr-green-primary;
    box-shadow: none;
  }

  .p-dropdown:not(.p-disabled):hover {
    border-color: $clr-green-primary;
  }
}


@media only screen and (max-width: 1200px) {
  .language-selector {
    display: none;
  }
}
