/// COLORS
$clr-green-primary: #409c8c;
$clr-brown-primary: #7f5c47;
$clr-brown-secondary: #402e23;
$clr-error: #EB1D36;
$clr-warning: #e0c056;
$clr-special: #f57328b1;
$clr-info: #726f6d;


// FONTS
$font-special: 'Dancing Script', cursive;
$font-normal: 'PT Serif', serif;


